:root {
    --foreground-rgb: 0,0,0;
    --background-rgb: 255,255,255;
}

* {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", "Noto Sans Thai Looped", sans-serif;
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb));
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 32px;
}